<div class = "app-card-container">
	<div class = "card">
		<h1>About Me</h1>

		<hr>

		<div class="row">
			<div class="col-md-4">
				<%= image_tag "profile.jpg", alt: "profile image" %>
			</div>

			<div class="col-md-8">
				<p> You're just a little chicken CHEEEEP CHEEP CHEEP CHEEP CHEEEEEEEP</p>

				<p>Johnny: [walks into flower shop] Hi.
		Flower Shop Clerk: Can I help you?
		Johnny: Yeah, can I have a dozen red roses, please?
		Flower Shop Clerk: Oh, hi, Johnny. I didn't know it was you.
		[grabs bouquet of roses]
		Flower Shop Clerk: Here you go.
		Johnny: That's me. How much is it?
		Flower Shop Clerk: It'll be eighteen dollars.
		Johnny: [hands over cash] Here you go. Keep the change.
		[grabs flowers and pats dog on the counter]
		Johnny: Hi, doggy.
		Flower Shop Clerk: You're my favorite customer.
		Johnny: Thanks a lot. Bye!
		Flower Shop Clerk: Buh-bye!</p>
			</div>
		</div>
	</div>
</div>