<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>Always Learning.</p>

        <p>Aside from my love of all things technology, I enjoy a number of other activities, such as Dungeons & Dragons, Snowboarding, Scuba Diving.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
             Freelance; Self-employed; 2017-2018. 
             Developing websites for Aviation First and JakeWelds using Ruby, and Ruby on Rails. Built from the ground up, uses Amazon Web Services to allow the owner to upload photos to the website’s gallery. Utilizes google’s api for it’s map feature.
              Progress available at www.github.com/pgibbs10
            </div>

            <div class="card card-block">
              Technical Support; Silhouette America; Mar-Nov 2017.
              Worked to find bugs fixes and solutions for hardware and design software compatible with the products
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              Full Stack Development Course =>
              2017-2018, Bottega. College accredited full-time, full-stack development course, 600 hours. Introduced the entire scope of web development and provided the experience to start freelance. 
            </div>
            <div class="card card-block">
              University => CS Major
              015-2016, Utah State University. Learned C++ and a little more Java, algorithms. Learned application development, was introduced to concepts such as the Model, View, Controller.
            </div>
            <div class="card card-block">
              High School =>
              Graduated 2014, The Woodlands High School. Took first CS courses in Java, along with HTML and CSS. Learned the fundamentals of programming, such as variables and syntax.
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
