<h1>Contact</h1>
<p>Please don't contact me</p>

<p>jk here's my number <%= number_to_phone "5555555555" %></p>
<p>Cash money <%= number_to_currency "350" %></p>
<p><%= number_to_percentage "80.4" %> skill</p>
<p><%= number_with_delimiter "200000000000" %> Gorillion</p>