<div class = "app-card-container">
	<div class = "card">
		<h1>Contact</h1>
		<p>Please don't contact me</p>

		<p>jk here's my number <%= number_to_phone "5555555555" %></p>
		<p>Cash money <%= number_to_currency "350" %></p>
		<p><%= number_to_percentage "80.4" %> skill</p>


		<p><%= number_with_delimiter "200000000000" %> Gorillion</p>
		<div class="mappy">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.39080161906!2d-111.75586134181658!3d40.355858223136515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d840c8c64d271%3A0xa848e34f147e0a83!2s963+W+670+S%2C+Pleasant+Grove%2C+UT+84062!5e0!3m2!1sen!2sus!4v1513183547000" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>