<main role="main" class="inner cover">
  <h1 class="cover-heading">Paul Gibbs</h1>
  <p class="lead">Software Developer</p>
  <p class="lead">
    <%= link_to "Let's Work Together", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>